{%load static%}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <title>{%block title%} {%endblock%}</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{% url 'index' %}">MTUNES</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'songs' %}active{% endif %}">
          <a class="nav-link" href="{% url 'songs' %}">All songs</a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'watchlater' %}active{% endif %}">
          <a class="nav-link" href="{% url 'watchlater' %}">My Playlist</a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'history' %}active{% endif %}">
          <a class="nav-link" href="{% url 'history' %}">History</a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'uploadsong' %}active{% endif %}">
          <a class="nav-link" href="{% url 'uploadsong' %}">Upload Song</a>
        </li>
        <li class="nav-item {% if request.resolver_match.url_name == 'mysongs' %}active{% endif %}">
          <a class="nav-link" href="{% url 'mysongs' %}">My Songs</a>
        </li>
      </ul>
    </div>
    {% if user.is_authenticated %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" >
        <a class="nav-link" style="color:aliceblue;" href="#">Welcome, {{request.user}}</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-light" href="{% url 'logout' %}">Logout</a>
      </li>
    </ul>
    {% else %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="btn btn-outline-light" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item mx-2">
        <a class="btn btn-outline-light" href="{% url 'signup' %}">Register</a>
      </li>
    </ul>
    {% endif %}
  </nav>
  {% block body %}

  {% endblock %}

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  {% block javascript %}
  {% endblock %}

</body>

</html>